<footer style="background: black;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>We are a team of movie enthusiasts who strive to bring the best movie experience to our users.</p>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <ul>
          <li>Email: net@movieapp.com</li>
          <li>Phone: 555-555-5555</li>
          <li>Address: 123 Main Street, Pune, India</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <ul class="social-links">
          <li><a href="#"><img src='https://img.icons8.com/color/2x/linkedin-2.png' style="width: 30px; height: 30px;"/></a></li>
          <li><a href="#"><img src='https://img.icons8.com/fluency/2x/github.png' style="width: 30px; height: 30px;"/></a></li>
          <li><a href="#"><img src='https://img.icons8.com/fluency/2x/instagram-new.png' style="width: 30px; height: 30px;"/></a></li>
          <li><a href="#"><img src='https://img.icons8.com/fluency/2x/gmail.png' style="width: 30px; height: 30px;"/></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center">Copyright ©2022 Movie App</p>
      </div>
    </div>
  </div>
</footer>
